**/CLAUDE.local.md
**/CLAUDE.md
.vscode/


# backend
backend/.env
backend/node_modules
backend/supabase/.branches
backend/supabase/.temp
backend/tests/assets

# frontend
frontend/.env
frontend/node_modules
frontend/dist
